*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/fog-8519078_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #cccccc;
}

section#container {
    width: 70%;
    min-height: 100vh;
    padding-bottom: 15vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    background-color:rgba(35,37,41, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(4.7px);
    border-left: 1px solid rgba(255, 255, 255, 0.36);
    border-right: 1px solid rgba(255, 255, 255, 0.36);
}
div#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 130px;
    width: 75%;
    gap: 25px;
    border-radius: 0 0 10px 10px;
}
h1#title {
    color: whitesmoke;
    font-size: 5rem;
}
div#btn-wrapper {
    width: 73%;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}
.btn {
    color: aliceblue;
    background-color: rgb(32, 33, 34);
    border: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: rgba(51, 52, 53, 0.8);
    backdrop-filter: blur(20px);
}
button#create-item {
    height: 30px;
    width: 90px;
}
button#filter {
    height: 25px;
    width: 60px;
}

div#ans-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
div#ans {
    min-height: 30vh;  
    height: auto;     
    position: relative;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30vh;
    grid-auto-rows: auto;
    place-items: center;
    padding: 30px;
    gap: 40px;
}

div.card {
    height: 30vh;
    width: 90%;
    border: solid gray 2px;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* FORMULARIO*/
#list {
    width: 30vw;
    top: 10%;
    padding-bottom: 30px;
    position: fixed;
    background-color: whitesmoke;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blur {
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
}

#list-close-wrapper{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;
}
#list-close {
    background: none;
    border: none;
    width: 50px;
}
#list-close:after {
    content: "\00d7";
    font-size: 30px; 
    color: #000000;
    text-align: center;
    border: 1px none;
}
#list-close:hover {
    background-color: rgb(238, 24, 24);
}
#form {
    width: 230px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 30px;
}

#ipt-title {
    width: 100%;
    border-radius: 3px;
    border: 1px solid lightgray;
}
#ipt-text {
    width: 100%;
    resize: none;
    border-radius: 3px;
    border: 1px solid lightgray;
}

#ipt-radio-title {
    justify-content: center;
    align-items: center;
}
#ipt-radio-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
#ipt-radio-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
}
.ipt-radio-section {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#ipt-radio-1-label, #ipt-radio-2-label, #ipt-radio-3-label {
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;    
    justify-content: center;
    border-radius: 5px;
}

#ipt-radio-1-label {
    border: 1px solid red;
    color: red;
}

#ipt-radio-2-label {
    border: 1px solid rgb(230, 230, 18);
    color: rgb(230, 230, 18);
}

#ipt-radio-3-label {
    border: 1px solid green;
    color: green;
}



#ipt-date {
    width: 100%;
    border-radius: 3px;
    border: 1px solid lightgray;
}
#cl-se-btn-wrapper {
    margin-top: 200px;;
    display: flex;
    width: 25vw;
    justify-content: space-between;
}

#clean, #send {
    width: 80px;
    height: 30px;
}

/* CARDS */


#card-title {
    text-align: center;
    padding-bottom: 15px;
}

#card-text {
    padding-bottom: 5px;
}

#card-date {
    justify-content: end;
    align-items: end;
    text-align: center;
    padding-bottom: 5px;
}

#card-pri {
    text-align: center;
}

.card-pri-red {
    color: red;
}
.card-pri-red::before {
  content: ''; 
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.card-pri-yellow {
    color: rgb(230, 230, 18);
}
.card-pri-yellow::before {
  content: ''; 
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(230, 230, 18);
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.card-pri-green {
    color: green;
}
.card-pri-green::before {
  content: ''; 
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
#card-bottom-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


